header, nav, ul, li, label, img, section, input {
    margin: 0;
    padding: 0;
}

body {
    background: url(../pics/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    body header {
        overflow-x: scroll;
        width: 900px;
        margin: 0 auto;
        height: 160px;
    }

        body header nav {
            width: 1704px;
            overflow-x: hidden;
        }

            body header nav ul {
                position: relative;
                list-style-type: none;
            }

                body header nav ul li {
                    display: inline-block;
                }

                    body header nav ul li label img {
                        margin-right: 5px;
                        width: 130px;
                        height: 130px;
                        opacity: 0.7;
                    }

                        body header nav ul li label img:hover {
                            border: 1px solid white;
                            box-shadow: white 0px 0px 10px, inset white 0px -10px 10px;
                            opacity: 2;
                        }

    body section {
        text-align: center;
    }

        body section label {
            display: none;
        }

        body section input {
            display: none;
        }

            body section input:checked + label {
                display: block;
            }

                body section input:checked + label img {
                    border: 1px solid white;
                    max-height: 500px;
                    margin-top: 10px;
                    box-shadow: white 0px 0px 10px, inset white 0px -10px 10px;
                }
