<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chat.Data.ChatSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chat.Data.ChatSettings>
            <setting name="ChatConnectionString" serializeAs="String">
                <value>mongodb://TelerikAcademy:123456@ds045077.mongolab.com:45077/chatdb</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>chatdb</value>
            </setting>
        </Chat.Data.ChatSettings>
    </userSettings>
</configuration>