USE [master];

IF EXISTS(SELECT name FROM sys.databases WHERE name = N'ATM')
BEGIN
	DROP DATABASE [ATM]
END

CREATE DATABASE [ATM];
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM]
GO
/****** Object:  Table [dbo].[CardAccounts]    Script Date: 5.9.2014 г. 11:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CardAccounts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CardAccounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [char](10) NOT NULL,
	[CardPIN] [char](4) NOT NULL,
	[CardCash] [money] NOT NULL,
 CONSTRAINT [PK_CardAccounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CardAccounts] ON 

INSERT [dbo].[CardAccounts] ([ID], [CardNumber], [CardPIN], [CardCash]) VALUES (1, N'1234567891', N'1111', 2000.0000)
INSERT [dbo].[CardAccounts] ([ID], [CardNumber], [CardPIN], [CardCash]) VALUES (2, N'9876543211', N'1012', 150000.0000)
INSERT [dbo].[CardAccounts] ([ID], [CardNumber], [CardPIN], [CardCash]) VALUES (4, N'2233445566', N'9876', 900.0000)
SET IDENTITY_INSERT [dbo].[CardAccounts] OFF
USE [master]
GO
