body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#wrapper {
    width: 416px;
    height: 360px;
    border-radius: 5px;
    border: 1px solid #333;
    padding-left: 6px;
    padding-top: 27px;
    color: #333;
    box-shadow: 0 0 1px 1px white inset;
    background: #cfe4f9; /* Old browsers */
    background: -moz-linear-gradient(top, #cfe4f9 0%, #ffffff 24%, #ffffff 30%, #d6eaff 31%, #c0d9f1 74%, #cfe4f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe4f9), color-stop(24%,#ffffff), color-stop(30%,#ffffff), color-stop(31%,#d6eaff), color-stop(74%,#c0d9f1), color-stop(100%,#cfe4f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cfe4f9 0%,#ffffff 24%,#ffffff 30%,#d6eaff 31%,#c0d9f1 74%,#cfe4f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cfe4f9 0%,#ffffff 24%,#ffffff 30%,#d6eaff 31%,#c0d9f1 74%,#cfe4f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cfe4f9 0%,#ffffff 24%,#ffffff 30%,#d6eaff 31%,#c0d9f1 74%,#cfe4f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cfe4f9 0%,#ffffff 24%,#ffffff 30%,#d6eaff 31%,#c0d9f1 74%,#cfe4f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe4f9', endColorstr='#cfe4f9',GradientType=0 ); /* IE6-9 */
}

#ico {
    width: 15px;
    height: 16px;
    float: left;
    margin-top: -22px;
    margin-left: 1px;
}

#calc {
    float: left;
    margin-top: -22px;
    margin-left: 20px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #000;
    text-shadow: 0 0 10px #e6ecf2, 0 0 10px #e6ecf2, 0 0 10px #e6ecf2, 0 0 20px #e6ecf2, 0 0 20px #e6ecf2, 0 0 20px #e6ecf2;
}

    #calc:first-letter {
        font-size: 13px;
    }

#min {
    width: 30px;
    height: 20px;
    float: right;
    margin-top: -27px;
    margin-right: 85px;
}

#max {
    width: 30px;
    height: 20px;
    float: right;
    margin-top: -27px;
    margin-right: 55px;
}

#exit {
    width: 50px;
    height: 20px;
    float: right;
    margin-top: -27px;
    margin-right: 5px;
}

#border {
    width: 408px;
    height: 350px;
    border: 1px solid #666;
    background: #d9e4f1;
}

#menu {
    width: 408px;
    height: 20px;
    border: 1px solid #666;
    margin-left: -1px;
    margin-top: -1px;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e6ecf2 32%, #d8d8d8 37%, #dbdbdb 74%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(32%,#e6ecf2), color-stop(37%,#d8d8d8), color-stop(74%,#dbdbdb), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#e6ecf2 32%,#d8d8d8 37%,#dbdbdb 74%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#e6ecf2 32%,#d8d8d8 37%,#dbdbdb 74%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#e6ecf2 32%,#d8d8d8 37%,#dbdbdb 74%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%,#e6ecf2 32%,#d8d8d8 37%,#dbdbdb 74%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

ul {
    margin-top: 2px;
    margin-left: -30px;
}

    ul li {
        display: inline-block;
        list-style-type: none;
        color: #333;
        padding-right: 15px;
    }

li:first-letter {
    text-decoration: underline;
}

#display {
    height: 39px;
    width: 380px;
    border: 1px solid #8696aa;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px white inset;
    margin-left: 11px;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Consolas;
    color: #333;
    text-align: right;
    font-size: 24px;
    padding-top: 10px;
    padding-right: 4px;
    background: #e6effb; /* Old browsers */
    background: -moz-linear-gradient(top, #e6effb 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6effb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e6effb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e6effb 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e6effb 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e6effb 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6effb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

table {
    width: 384px;
    height: 12px;
    border: 1px solid #8696aa;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px white inset;
    margin-left: 11px;
    margin-bottom: 6px;
    margin-top: 5px;
    color: #1e395b;
    font-family: Consolas;
    line-height: 10px;
    padding-left: 8px;
}

#floatL {
    float: left;
    width: 72px;
    height: 180px;
    margin: 0;
    margin-left: 11px;
}

.ns {
    width: 72px;
    height: 85px;
    border-radius: 3px;
    border: 1px solid #8696aa;
    padding-top: 5px;
    margin-bottom: 4px;
    color: #1e395b;
}

#btn {
    float: left;
    margin-left: 8px;
}

button {
    width: 33px;
    height: 25px;
    margin: 1.4px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 0px;
    font-weight: 500;
    color: #1e395b;
}

.cleanBtn {
    outline-style: none;
    width: 34px;
    height: 26px;
    background: #d9e4f1;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.hhBtn {
    outline-style: none;
    width: 34px;
    height: 26px;
    background: #d9e4f1;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px white inset;
}

.fancyBtn {
    outline-style: none;
    width: 34px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px white inset;
    background: #f2f7ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f7ff 0%, #f4f8ff 48%, #e6ecf2 49%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f7ff), color-stop(48%,#f4f8ff), color-stop(49%,#e6ecf2), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f7ff 0%,#f4f8ff 48%,#e6ecf2 49%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f7ff 0%,#f4f8ff 48%,#e6ecf2 49%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f7ff 0%,#f4f8ff 48%,#e6ecf2 49%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f2f7ff 0%,#f4f8ff 48%,#e6ecf2 49%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7ff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.numBtn {
    outline-style: none;
    width: 34px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px white inset;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 1%, #f4f8ff 48%, #f4fbff 49%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(48%,#f4f8ff), color-stop(49%,#f4fbff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 1%,#f4f8ff 48%,#f4fbff 49%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 1%,#f4f8ff 48%,#f4fbff 49%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 1%,#f4f8ff 48%,#f4fbff 49%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 1%,#f4f8ff 48%,#f4fbff 49%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#zero {
    width: 72px;
}

#equals {
    height: 58px;
    float: right;
    margin-right: 4px;
}

.numBtn:hover, .fancyBtn:hover {
    border: 1px solid #f7dd34;
    background: #f4f2e1; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f2e1 0%, #ede4d0 31%, #f7e1aa 49%, #efc970 49%, #fcdc85 76%, #f9e6b3 87%, #f2ff00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f2e1), color-stop(31%,#ede4d0), color-stop(49%,#f7e1aa), color-stop(49%,#efc970), color-stop(76%,#fcdc85), color-stop(87%,#f9e6b3), color-stop(100%,#f2ff00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f2e1 0%,#ede4d0 31%,#f7e1aa 49%,#efc970 49%,#fcdc85 76%,#f9e6b3 87%,#f2ff00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f2e1 0%,#ede4d0 31%,#f7e1aa 49%,#efc970 49%,#fcdc85 76%,#f9e6b3 87%,#f2ff00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f2e1 0%,#ede4d0 31%,#f7e1aa 49%,#efc970 49%,#fcdc85 76%,#f9e6b3 87%,#f2ff00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f2e1 0%,#ede4d0 31%,#f7e1aa 49%,#efc970 49%,#fcdc85 76%,#f9e6b3 87%,#f2ff00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2e1', endColorstr='#f2ff00',GradientType=0 ); /* IE6-9 */
}

.hhBtn:hover {
    border: 1px solid #f7dd34;
    background: #ffc823; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc823 0%, #ffd754 67%, #fefcea 97%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc823), color-stop(67%,#ffd754), color-stop(97%,#fefcea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc823 0%,#ffd754 67%,#fefcea 97%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc823 0%,#ffd754 67%,#fefcea 97%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc823 0%,#ffd754 67%,#fefcea 97%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc823 0%,#ffd754 67%,#fefcea 97%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc823', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.grey{
    color:#555;
}

.grey:last-child {
    text-align: center;
}

#Hex {
    border: 2px solid black;
}