body, div, img, h1, h2, button  {
    margin: 0;
    padding: 0;
}

div#wrapper {
    box-shadow: 5px 5px 5px #888888;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 10px dashed black;
    background: rgb(143,200,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(143,200,0,1) 0%, rgba(143,200,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,1)), color-stop(100%,rgba(143,200,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 ); /* IE6-9 */

}

div#game > label {
    font-size: 35px;
}

div#game > input {
    width: 250px;
    height: 20px;
    box-shadow: 2px 2px 5px #648C00;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    border: 1px solid black;
}

div#game > button {
    width: 100px;
    height: 24px;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: 2px 2px 5px #648C00;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


h1, h2 {
    margin: 15px;
}

img.question {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #648C00;
}

img.sheep, img.ram {
    width: 130px;
    height: 100px;
}

.invisible {
    display: none;
}

#game-finish, #score-board {
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 5px 5px 5px #648C00;
    position: absolute;
    display: fixed;
    left: 100px;
    background-color: #B6FF00;
    width: 400px;
}

#game-finish {
    top: 300px;
}

#score-board {
    top: 150px;
}

#scores {
    height: 300px;
}

#scroller {
    overflow-x: auto;
}