h1, h2, section, nav, header, div, select, option {
    margin: 0;
    padding: 0;
}

div#wrapper {
    text-align: center;
}

select {
    width: 10%;
    text-align: center;
    background-color: greenyellow;
}

option {
    background-color:yellowgreen ;
}

h1 {
    margin: 20px;
}

div#elements, div#result {
    display: inline-block;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 45%;
    vertical-align: top;
    text-align: center;
    background-color: rgba(0, 132, 132, 0.81);
}

div.element:nth-of-type(2n), div.element-result:nth-of-type(2n) {
    background-color: cyan;
}

div.element:nth-of-type(2n + 1), div.element-result:nth-of-type(2n + 1) {
    background-color: #00cccc;
}