 table {
            border: 1px solid #000000;
            border-spacing: 0px;
            border-collapse: collapse;
            font-size: 10pt;
        }

        th
        {
            border: 1px solid #000000;
            padding-left: 4px;
            padding-right: 6px;
        }

        td {
                border: 1px solid #000000;
                padding-left: 4px;
                padding-right: 6px;
                text-align: left;
                font-weight: normal;
            }